body {
    background-image: url(form.png);
    background-color: rgb(43, 85, 1);
    background-size: cover;
    background-position: center center;
    text-align: center;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(100, 199, 146, 0.8);
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-items: center;
    z-index: 1000;
}

.menu a {
    text-decoration: none;
    color: #333;
    margin: 0 15px;
    font-weight: bold;
}

.form-container {
    background-color: rgba(167, 217, 190, 0.8);
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    gap: 10px;
}

.form-input {
    width: 100%;
    height: 25px;
    font-size: 16px;
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 8px 16px;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}


.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.signup-button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

@media screen and (max-width: 600px) {
    .form-container {
        max-width: 100%;
    }

    .form-input {
        width: calc(100% - 10px);
    }
}
